[submodule "extensions/Collection"]
	path = extensions/Collection
	url = https://github.com/WikiToLearn/mediawiki-extensions-Collection
[submodule "extensions/EmbedVideo"]
	path = extensions/EmbedVideo
	url = https://github.com/Alexia/mediawiki-embedvideo.git
[submodule "extensions/SpeechToText"]
	path = extensions/SpeechToText
	url = https://github.com/WikiToLearn/SpeechToText.git
[submodule "extensions/WikiToLearnACL"]
	path = extensions/WikiToLearnACL
	url = https://github.com/WikiToLearn/WikiToLearnACL.git
[submodule "extensions/CourseEditor"]
	path = extensions/CourseEditor
	url = https://github.com/WikiToLearn/CourseEditor.git
[submodule "skins/WikiToLearnSkin"]
	path = skins/WikiToLearnSkin
	url = https://github.com/WikiToLearn/WikiToLearnSkin
[submodule "extensions/ContributorsMap"]
	path = extensions/ContributorsMap
	url = https://github.com/WikiToLearn/ContributorsMap.git
[submodule "extensions/WikiToLearnVETemplates"]
	path = extensions/WikiToLearnVETemplates
	url = https://github.com/WikiToLearn/WikiToLearnVETemplates
