*.kate-swp
.directory
LocalSettings.d/
!LocalSettings.d/.placeholder
mediawiki/
extensions/googleAnalytics/
extensions/Cite/
extensions/CodeEditor/
extensions/ContributionScores/
extensions/Echo/
extensions/Flow/
extensions/Gadgets/
extensions/googleAnalytics/
extensions/LabeledSectionTransclusion
extensions/Math/
extensions/NewUserMessage/
extensions/Nuke/
extensions/ParserFunctions/
extensions/ParserHooks/
extensions/Renameuser/
extensions/SubPageList3/
extensions/SyntaxHighlight_GeSHi/
extensions/TemplateData/
extensions/Translate/
extensions/UserMerge/
extensions/Validator/
extensions/VisualEditor/
extensions/WikiEditor/
extensions/SpamBlacklist/
