[submodule "extensions/Collection"]
	path = extensions/Collection
	url = https://github.com/WikiToLearn/mediawiki-extensions-Collection
[submodule "extensions/EmbedVideo"]
	path = extensions/EmbedVideo
	url = https://github.com/Alexia/mediawiki-embedvideo.git
[submodule "skins/Neverland"]
	path = skins/Neverland
	url = https://github.com/WikiToLearn/Neverland.git
[submodule "extensions/EasyLink"]
	path = extensions/EasyLink
	url = https://github.com/WikiToLearn/EasyLink.git
[submodule "extensions/Piwik"]
	path = extensions/Piwik
	url = https://github.com/DaSchTour/piwik-mediawiki-extension.git
[submodule "extensions/SpeechToText"]
	path = extensions/SpeechToText
	url = https://github.com/WikiToLearn/SpeechToText.git
[submodule "extensions/WikiToLearnACL"]
	path = extensions/WikiToLearnACL
	url = https://github.com/WikiToLearn/WikiToLearnACL.git
[submodule "extensions/CourseEditor"]
	path = extensions/CourseEditor
	url = https://github.com/WikiToLearn/CourseEditor.git
[submodule "extensions/ConfirmEdit"]
	path = extensions/ConfirmEdit
	url = https://github.com/WikiToLearn/mediawiki-extensions-ConfirmEdit.git
[submodule "skins/WikiToLearnSkin"]
	path = skins/WikiToLearnSkin
	url = https://github.com/WikiToLearn/WikiToLearnSkin
[submodule "extensions/ContributorsMap"]
	path = extensions/ContributorsMap
	url = https://github.com/WikiToLearn/ContributorsMap.git
