
.vertical-spacing {
  height: 30px;
}

.vertical-spacing-small {
  height: 15px;
}

.vertical-spacing-small-top {
  height: 45px;
}

.vertical-spacing-small-bottom {
  height: 21px;
}

.contributors {
  margin-bottom: 0;
}

.contributors-bottom {
  margin-top: 0;
}

.proudtobe {
  max-height: 1em;
  padding-left: 8px;
}

.style1 {font-family: Geneva, Arial, Helvetica, sans-serif}
body,td,th {
    font-size: medium;
    color: #313466;
}
.style2 {color: #667}
body {
    background-color: #FFFFFF;
    margin-right: 0px;
}
#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: 500px;
    margin-top: 80px;
    clear:both;
}

#footer {
    /*     margin-top: 600px; */
}

#leftlogo {
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 125px 80px;
    margin-right: -30px;
}

#rightnav {
    /*    float: left;
    */    font-family: Source Sans Pro;
}

#rightnavmenu {
    padding: 0px;
}



#rightnav li {
    list-style-type: none;
    padding-left: 40px;
    height: 80px;
    margin: 0;
}

#rightnav a {
    text-decoration: none;
}

#rightnav h1 {
    font-weight: normal;
    color: #373737;
    font-size: 2em;
    padding-top: 8px;
    margin-bottom: 6px;
    margin-top: 0;
}
#rightnav h2 {
    font-weight: normal;
    font-style: italic;
    color: #68b31f;
    font-size: 11pt;
    margin: 0;
}

#rightnav .disabled {
    color: #b3b3b3;
}

/* Portrait phones and smaller */
@media (max-width: 768px)  {
    #rightnav h1 {
        font-size: 14pt;
    }

    #rightnav h2 {
        font-size: 10pt;
    }

    #spacing {
        height: 30px;
    }

    #logo {
        margin-right: 15%;
    }





}

/* Larger devices */
@media (min-width: 769px) {  

  .center-row {
      display:table;
  }

  .logo {
    width: 20%;
    padding: 4%;
    padding-bottom: 0.5em;
  }

  .logos-container {
    margin-left: 25.2%;
  }

  .center {
      display:table-cell;
      vertical-align:middle;
      float:none;
  }

  #spacing {
      height: 100px;
  }

  #spacing-row {
      display: none;
  }
}

.colorbar1 {
    border-left: 8px solid #83001f;
}
.colorbar2 {
    border-left: 8px solid #db3e14;
}
.colorbar3 {
    border-left: 8px solid #ffbc31;
}
.colorbar4 {
    border-left: 8px solid #69b140;
}
.colorbar5 {
    border-left: 8px solid #00613a;
}


.pagecount {
    font-size:10pt;
    padding-top:1em;padding-left:1em;
}
